#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

url --url=http://192.168.1.200/repo/centos/7/Server/

# Use text install
text

# Reboot after install, disengage USB media.
reboot --eject

# Do not run the Setup Agent on first boot.
# Agree to the eula.
firstboot --disable
eula --agreed

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
# Not specifying "--device=em1" allows the ifcfg-enp2s0 to be written properly.
network  --bootproto=static --activate --onboot=on --gateway=192.168.1.1 --ip=192.168.1.175 --nameserver=8.8.8.8 --netmask=255.255.255.0 --noipv6 --hostname=def_centos7

# Root password
rootpw  --iscrypted $6$XweJyB1g$RHM7dwKPNfcd21tAy2TvXI.EDF/gh75/LNkhLFcxGEteFKg7r7ams7N/hxWlXEERzvH5jXt4gdiuSUBPDflxX/

# System services
services --enabled="chronyd,sshd"
firewall --disabled

# System user
user --groups=wheel --name=ansible --password=$6$7swkaSIV$5HGmYEz69H.Z8/JD0kM9iGNOe0AICId03jQvbemuyXNVxsgpBXxImp25ol7xYQKkCN3oWO8gsMqGjk7YxT3LW/ --iscrypted --uid=700 --shell=/bin/bash 

# System timezone
timezone America/New_York --isUtc

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb

# Partition clearing information
# "sdb" is used when booting from a USB device.
# "vda" is used for virtual disks.
ignoredisk --only-use=sdb
clearpart --all --drives=sdb --initlabel
autopart --type=lvm

# Packages
%packages
@base
@core
chrony
openssh-server
kexec-tools
wget

%end

#%addon com_redhat_kdump --enable --reserve-mb='auto'

%anaconda
#pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
#pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
mkdir /home/ansible/.ssh
wget http://192.168.1.200/ks/files/ansible_authorized_keys -O /home/ansible/.ssh/authorized_keys
chmod 600 /home/ansible/.ssh/authorized_keys
chown -R ansible:ansible /home/ansible
echo "ansible   ALL=(ALL)   ALL" >> /etc/sudoers.d/700_ansible
%end
